################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Webhooks/.vs/Webhooks
/Webhooks/Webhooks.Api/obj
